/* font-family: "RobotoLight"; */
@font-face {
    font-family: "Roboto";
    src: url("../fonts/RobotoLight/RobotoLight.eot");
    src: url("../fonts/RobotoLight/RobotoLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoLight/RobotoLight.woff") format("woff"),
    url("../fonts/RobotoLight/RobotoLight.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
}

/* font-family: "RobotoMedium"; */
@font-face {
    font-family: "Roboto";
    src: url("../fonts/RobotoMedium/RobotoMedium.eot");
    src: url("../fonts/RobotoMedium/RobotoMedium.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoMedium/RobotoMedium.woff") format("woff"),
    url("../fonts/RobotoMedium/RobotoMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
}

/* font-family: "MyriadProRegular"; */
@font-face {
    font-family: "MyriadPro";
    src: url("../fonts/MyriadProRegular/MyriadProRegular.eot");
    src: url("../fonts/MyriadProRegular/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"),
    url("../fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
}

/* font-family: "FiraSansRegular"; */
@font-face {
    font-family: "FiraSans";
    src: url("../fonts/FiraSansLight/FiraSansLight.eot");
    src: url("../fonts/FiraSansLight/FiraSansLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/FiraSansLight/FiraSansLight.woff") format("woff"),
    url("../fonts/FiraSansLight/FiraSansLight.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
}

/* font-family: "SegoeUILight"; */
@font-face {
    font-family: "SegoeUI";
    src: url("../fonts/SegoeUILight/SegoeUILight.eot");
    src: url("../fonts/SegoeUILight/SegoeUILight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/SegoeUILight/SegoeUILight.woff") format("woff"),
    url("../fonts/SegoeUILight/SegoeUILight.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
}