html { height: 100%; }

body {
	height: 100%;	
	background: url('../img/bg.png') no-repeat;
	-moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
}

.wrapper{
	overflow:hidden;
}

.hide {
	position: absolute;
	left:-9999px;
}

// основные стили
.main-content {
	@include clearfix;
}

// стили чекбокса
.checkbox {
	@include clearfix;
	cursor: pointer;
  background-color: rgb(66, 66, 66);
  position: absolute;
  left: 116px;
  top: 39px;
  width: 70px;
  height: 30px;
  z-index: 5;
  border-radius: 16px;
 }
.checkbox__rele {
	z-index: 500;
	position: absolute;
	height: 24px;
	width: 24px;
	background-color: #ffffff;
	border-radius: 50%;
	top: 3px;
	left: 43px;
	@include animate(0.7s);
}

.checkbox__rele.disableC {left: 3px; @include animate(0.7s);}


.checkbox__off {
	font-family: 'Museo Sans Cyrl 300';
	font-size: 12px;
	color: #6a6a6a;
	position: relative;
    margin-left: 3px;
   top: 4px;
   @include opacity(1);
   @include animate(0.3s);
}

.checkbox__on {
	font-family: 'Museo Sans Cyrl 300';
	font-size: 12px;
	color: #ffffff;
	position: relative;
    margin-left: 11px;
   top: 4px;
   @include opacity(0);
   @include animate(0.3s);
}

// Стили интпута

.input {
cursor: pointer;
  position: absolute;
  left: 116px;
  top: 139px;
}


#svg circle {
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 1s linear;
  stroke: #494949;
  stroke-width: 10px;
}
#svg #bar {
	stroke-dashoffset: 376.99;
  stroke: #7cffe2;
}
#cont {
  display: block;
  height: 130px;
  width: 130px;
  border-radius: 100%;
  position: relative;
}


input#percent {
	position: absolute;
	border: none;
	background: none;
	outline: none;
	height: 39px;
    width: 70px;
    top: 46px;
    left: 40px;
	z-index: 50;
	font-size: 48px;
	@include opacity(0);
}

#cont__perc {
	position: absolute;
	width: 100px;
	height: 40px;
	top: 49px;
	left: 20px;
	text-align: center;
	font-family:"Milford Condensed Bold";
}
#perc__main {
	position: relative;
	font-size: 48px;
	text-align: center;

	
}	

.perc_sup {
	position: absolute;
	font-size: 22px;
    top: 11px;;
}

// стили слайдера

#slider {
	position: absolute;
  left: 116px;
  top: 300px;
  width: 257px;
  height: 20px;
}
#line {
	position: relative;
	width: 100%
}
#slide {
	display: inline-block;
	position: absolute;
	float: left;
	width: 100%;
	height: 100%;
	background: #494949;
	border-radius: 10px;
	}

// #slide__left {
// 	display: inline-block;
// 	position: absolute;
// 	float: left;
// 	width: 50%;
// 	left: 50%;
// 	height: 100%;
// 	background: #64eaec;
// 	border-radius: 10px;
// 	}

#slide__right {
	display: inline-block;
	position: absolute;
	float: right;
	width: 50%;
	height: 100%;
	left: 50%;
	background: #64eaec;
	border-radius: 10px;
}

#rele {
	position: absolute;
	cursor: pointer;
	width: 18px;
	height: 18px;
	border-radius: 10px;
	border: 1px solid #494949;
	background: #64eaec url(../img/point.png) center no-repeat;
	left: 50%;

}