footer.page-footer
    p.page-footer__text
        |&copy Тестовое заданрие для Andiks, пожалуйста, не копируйте и не воруйте его
        
// build:js js/vendor.js 
// bower:js
script(src="bower_components/jquery/dist/jquery.min.js")

// endbower 
// endbuild 

// build:js js/main.js 
script(src="js/main.js")
// endbuild 
