<!DOCTYPE html>
html(lang="ru-Ru")

	include includes/head.jade

	body
		.wrapper
			.main-content.clearfix
				.checkbox
					.checkbox__rele.disableC
					span.checkbox__on ON
					span.checkbox__off OFF
					input.checkbox__input.hide(type="checkbox" name="checkbox")
				.input
					div#cont(data-pct="0")
						svg#svg(width="140" height="140" viewport="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg")
							circle(r="60" cx="70" cy="70" fill="transparent" stroke-dasharray="376.99" stroke-dashoffset="0")
							circle#bar(r="60" cx="70" cy="70" fill="transparent" stroke-dasharray="376.99" stroke-dashoffset="0")
						div#cont__perc 
							span#perc__main 0  
							sup.perc_sup %
					input#percent(name="percent" val="0")
				div#slider
						div#slide__left
						div#slide__right
						div#rele
					input.slider__input.hide(type="checkbox" name="checkbox" val="50")

	include includes/footer.jade

