<!DOCTYPE html>
html(lang="ru-Ru")

	include includes/head.jade

	body
		.wrapper
			.main-content.clearfix
				.checkbox
					.checkbox__rele.disableC
					span.checkbox__on ON
					span.checkbox__off OFF
					input.checkbox__input.hide(type="checkbox" name="checkbox")

	include includes/footer.jade

